<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mottimotti.android.sample">

    <uses-sdk
        android:maxSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/motti_logo"
        android:theme="@style/Theme.Sherlock.Light"
        android:label="@string/app_name">

        <activity
            android:name=".SampleListActivity"
            android:label="Demos of MottiMotti Utils">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".CalendarActivity"
            android:label="Calendar table view">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.mottimotti.android.sample.EXAMPLE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SegmentedRadioGroupActivity"
            android:label="Segmented radio group">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.mottimotti.android.sample.EXAMPLE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".AnimationListActivity"
            android:label="Demo for animation activity transitions">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.mottimotti.android.sample.EXAMPLE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".PorterActivity"
            android:label="Demo for PorterDuff modes">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.mottimotti.android.EXAMPLE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".AutoLayerActivity"
            android:label="Demo for iOS like auto layer elements">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.mottimotti.android.sample.EXAMPLE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".TypeFaceActivity"
            android:label="Demo for TypeFace elements">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.mottimotti.android.sample.EXAMPLE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SampleActivity"
            android:label="Sample page"/>
    </application>
</manifest>
